<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Title>Tokenizer(For debugging)</Title>

		<Script Src = "main.js" Defer></Script>
	</Head>

	<Body>
		<Form ID = "tokenize">
			<Textarea ID = "tokenize-text" Placeholder = "文章を入力してください"></Textarea>
			<Input ID = "tokenize-apply" Type = "Button" Value = "分解！" />
		</Form>

		<Form ID = "import">
			<Select ID = "import-name"></Select>
			<Input ID = "import-apply" Type = "Button" Value = "インポート！" />
		</Form>

		<Form ID = "generator">
			<Input ID = "generator-amount" Type = "Number" Value = "10" />件生成
			<Input ID = "generator-apply" Type = "Button" Value = "生成！" />
		</Form>
	</Body>
</HTML>