<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Title>Shiina Debugger Portal</Title>

		<Link Rel = "StyleSheet" Href = "/libs/materialize.min.css"/>
		<Script Src = "/libs/materialize.min.js"></Script>
		
		<Link Rel = "StyleSheet" Href = "/libs/common.css" />
		<Link Rel = "StyleSheet" Href = "main.css" />
		<Script Src = "main.js" Defer></Script>
	</Head>
	
	<Body>
		<Header Class = "navbar-fixed">
			<Nav>
				<Div Class = "nav-wrapper">
					<Span Class = "brand-logo center">Shiina Debugger Portal</Span>
				</Div>
			</Nav>
		</Header>

		<Main>

		</Main>
	</Body>
</HTML>