<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Link Rel = "Icon" Href = "/assets/favicon32.png" Sizes = "32x32" />
		<Link Rel = "Icon" Href = "/assets/favicon64.png" Sizes = "64x64" />
		<Link Rel = "Icon" Href = "/assets/favicon128.png" Sizes = "128x128" />
		<Link Rel = "Icon" Href = "/assets/favicon192.png" Sizes = "192x192" />
		<Link Rel = "Icon" Href = "/assets/favicon256.png" Sizes = "256x256" />
		<Title>Shiina Debugger Portal</Title>

		<Link Rel = "StyleSheet" Href = "/libs/common.css" />
		<Link Rel = "StyleSheet" Href = "/libs/materialize.min.css"/>
		<Link Rel = "StyleSheet" Href = "main.css" />

		<Script Src = "/libs/materialize.min.js"></Script>
		<Script Src = "main.js" Defer></Script>
	</Head>
	
	<Body>
		<Header Class = "navbar-fixed">
			<Nav>
				<Div Class = "nav-wrapper">
					<Span Class = "brand-logo center">Shiina Debugger Portal</Span>
				</Div>
			</Nav>
		</Header>

		<Main>
			
		</Main>
	</Body>
</HTML>