<!DocType HTML>

<HTML>
	<Head>
		<Meta Charset = "UTF-8" />
		<Link Rel = "Icon" Href = "/assets/favicon32.png" Sizes = "32x32" />
		<Link Rel = "Icon" Href = "/assets/favicon64.png" Sizes = "64x64" />
		<Link Rel = "Icon" Href = "/assets/favicon128.png" Sizes = "128x128" />
		<Link Rel = "Icon" Href = "/assets/favicon192.png" Sizes = "192x192" />
		<Link Rel = "Icon" Href = "/assets/favicon256.png" Sizes = "256x256" />
		<Title>Assessmentor | Shiina Debugger Portal</Title>

		<Link Rel = "StyleSheet" Href = "/libs/common.css" />
		<Link Rel = "StyleSheet" Href = "/libs/materialize.min.css"/>
		<Link Rel = "StyleSheet" Href = "assessmentor.css" />
		
		<Script Src = "/libs/materialize.min.js"></Script>
		<Script Src = "assessmentor.js" Defer></Script>
	</Head>
	
	<Body>
		<Header Class = "navbar-fixed">
			<Nav>
				<Div Class = "nav-wrapper">
					<Span Class = "brand-logo center">Assessmentor | Shiina Debugger Portal</Span>
				</Div>
			</Nav>
		</Header>

		<Main ID = "assessmentor">
			<Div Class = "input-field">
				<Textarea ID = "assessmentor-log" Class = "materialize-textarea"></Textarea>
				<Label For = "assessmentor-log">生成されたログを入力してください</Label>

				<Button ID = "assessmentor-start" Class = "btn waves-effect waves-light">評価開始</Button>
			</Div>
		</Main>

		<Div ID = "enquete" Class = "modal" Data-Index = "0">
			<Div Class = "modal-content">
				<P ID = "enquete-text"></P>

				<Div ID = "enquete-form">
					<Div ID = "enquete-form-vocabulary">
						<Span>語彙</Span>

						<P Class = "range-field">
							<Input ID = "enquete-form-vocabulary-point" Type = "Range" Min = "1" Max = "3" />
						</P>

						<P ID = "enquete-form-vocabulary-description"></P>
					</Div>

					<Div ID = "enquete-form-structure">
						<Span>文法構造</Span>

						<P Class = "range-field">
							<Input ID = "enquete-form-structure-point" Type = "Range" Min = "1" Max = "3" />
						</P>

						<P ID = "enquete-form-structure-description"></P>
					</Div>
				</Div>
			</Div>

			<Div CLass = "modal-footer">
				<Button ID = "enquete-next" Class = "btn-flat waves-effect waves-green modal-close">Next</a>
			</Div>
		</Div>
	</Body>
</HTML>